.preview-div textarea, input{
    width: 95%;
    resize: none;
    margin: 5px;
    font-size: 14px;
    border: none;
    font-weight: 300;
}
.btn-admin {
    color: white;
    font-weight: bold;
    margin: 5px;
}
